* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #f8f9fa; */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 85px; /* Adjusted height */
    position: relative;
}
.navbar .logo img {
    height: 70px; /* Adjusted logo size */
    animation: blink 2s ;
}
.navbar .nav-links {
    display: flex;
    gap: 70px;
    flex-grow: 1;
    justify-content: center;
}
.navbar .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 550;
    animation:top 2s forwards;
}
.navbar .nav-links a:hover{
    color: rgb(116, 122, 175);
    transition: .5s;
}
.navbar .icons {
    display: flex;
    align-items: center;
    gap: 20px;
    animation: right 2s forwards;
}
.navbar .cart-icon {
    position: relative;
    font-size: 23px;
    cursor: pointer;
    list-style: none;
}
.navbar .cart-icon i{
    color: black;
}
 .navbar .cart-icon i:hover  {
    color: rgb(116, 122, 175);
    transition: .5s;
}
.navbar .cart-icon .counter {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}
.navbar .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    /* margin-top: 10px; */
}

.navbar .search-bar input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 0;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
}
.navbar .search-bar.open input {
    width: 150px;
    opacity: 1;
    padding-right: 40px; 
}
.navbar .search-bar button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    color: #333;
    font-size: 16px;
}

.navbar .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.navbar .nav-links.mobile {
    display: none;
    flex-direction: column-reverse;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    animation: menu-toggle 0.5s forwards;

    /* gap: 10px; */
}
.navbar .nav-links.mobile.show {
    display: flex;
}
.navbar .sign-in-btn {
    background-color: #f8f9fa ;
    color: #333;
    font-size: 17px;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    /* font-size: 16px; */
}
.navbar .sign-in-btn:hover{
    color: rgb(116, 122, 175);
    transition: .5s;
}
.category-section {
    margin-bottom: 50px;
}

.category-title {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
    margin-left:50px;
    margin-top:80px;
}
.hidden {
    display: none;
}

.view-more-btn {
    position: absolute;
    margin-top: -55px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    margin-left: 1190px;
}

.view-more-btn:hover {
    background-color: #0056b3;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
    margin-left: 30px;
}
.product-card {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1.5);
    position: relative;
    display: flex;
    flex-direction: column;
    animation: top 2s forwards linear;
    animation-fill-mode: unset;
    /* margin-right: 30px; */
    /* margin-bottom: -20px; */
}
.product-image {
    width: 100% ;
    height: 200px; /* Adjusted height */
    object-fit: contain; /* Changed to contain for better image display */
    background-color: #f5f5f5;
     /* Light background for images */
}
.sale-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #c9ab81;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
}
.product-info {
    padding: 10px;
}
.product-name {
    font-size: 18px;
    margin: 10px 0 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.star-rating {
    color: #00ff37bd;
    font-size: 18px;
    text-align: center;
}
.price {
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

    .carousel {
        position: relative;
        width: 100%; /* Full width of the screen */
        min-height: 600px; /* Ensures the carousel has a minimum height of 600px */
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: bottom 3s forwards;
        
    }
    
    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
        height: 100%; /* Ensures the inner container matches the height of the carousel */
    }
    
    .carousel-item {
        min-width: 100%;
        height: 100%; /* Ensures each carousel item fills the height of the carousel */
        transition: opacity 0.5s ease-in-out;
    }
    
    .carousel-item img {
        position: absolute;
        margin-left:63%;
        width: 450px;
        height: 500px;
        object-fit: cover; /* Ensures the image covers the entire area without distortion */
        border-radius: 10px;
        
    }
    .carousel-title{
        position:absolute;
        margin-top:100px;
        margin-left:173px;
        font-size:50px;
        font-weight:bold;
        width:1050px;



    }
    .carousel-desc{
       position:absolute;
       margin-top:200px;
       width:540px;
       margin-left:170px;
       font-size:25px;
       font-weight:400;
    }
    .carousel-in-btn{
        position:absolute;
        margin-top:430px;
        margin-left:260px;
        background-color: rgb(69, 75, 133);
        padding:15px;
        width:15%;
        outline:none;
        border-radius:10px;
        
    }
    .carousel-in-btn a{
        color:white;
        text-decoration: none;
        font-size:20px;
    }
    .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        z-index: 10;
    }
    
    .carousel-control.prev {
        left: 10px;
    }
    
    .carousel-control.next {
        right: 10px;
    }
    .features-section {
        margin-top:80px;
        margin-bottom:50px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: white; /* Adjust the background color as needed */
        
    }
    
    .feature {
        text-align: center;
        flex: 1;
        margin: 0 10px;
    }
    
    .feature-icon {
        font-size: 80px; /* Adjust the size as needed */
        margin-bottom: 15px;
        color: #333; /* Adjust the color as needed */
    }
    
    .feature h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #333;
        
    }
    
    .feature p {
        font-size: 14px;
        color: #666;
        font-weight: 400;
    }
    
    .footer {
        background-color: #f8f9fa;
        color: #333;
        font-weight: 500;
        padding: 40px 0;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .footer-container div {
        flex: 1;
        min-width: 250px;
        margin: 20px;
    }
    
    .footer-about,
    .footer-contact,
    .footer-subscribe {
        max-width: 400px;
        
    }
    
    .footer h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .footer p,
    .footer ul {
        font-size: 14px;
        line-height: 1.6;
    }
    
    .footer ul {
        list-style: none;
        padding: 0;
    }
    
    .footer ul li {
        margin-bottom: 10px;
    }
    
    .footer ul li i {
        margin-right: 10px;
    }
    
    .footer a {
        color: #333;
        text-decoration: none;
        font-size: 15px;
    }
    
    .footer a:hover {
        text-decoration: underline;
    }
    
    .footer .social-icons a {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #444;
        color: #fff;
        text-align: center;
        line-height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        transition: background-color 0.3s;
    }
    
    .footer .social-icons a:hover {
        background-color: #555;
        color: blue;
        transition: .5s;
    }
    
    .footer-subscribe form {
        display: flex;
        margin-top: 20px;
    }
    
    .footer-subscribe input {
        flex: 1;
        padding: 10px;
        border: none;
        border-radius: 5px 0 0 5px;
        font-size: 14px;
    }
    
    .footer-subscribe button {
        padding: 10px 20px;
        border: none;
        background-color: #333;
        color: #fff;
        font-size: 14px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .footer-subscribe button:hover {
        background-color: #ff4500;
    }
    
    .footer-bottom {
        background-color: #f8f9fa;
        color: #333;
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
    }
    
    .footer-bottom p {
        margin: 0;
    }
    .about-us {
        padding: 50px 0;
        background-color: #fff;
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
    }
    
   .container h1 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 40px;
        color: #333;
    }
    
    .section {
        margin-bottom: 60px;
    }
    
    .section-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .section-content .image,
    .section-content .text {
        flex: 1;
        min-width: 300px;
        margin: 20px;
    }
    
    .section-content .image img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    .section-content .text {
        margin-left: 20px;
    }
    
    .section-content .text h2 {
        font-size: 28px;
        color: #555;
        margin-bottom: 15px;
    }
    
    .section-content .text p {
        font-size: 18px;
        color: #666;
        line-height: 1.6;
        margin-bottom: 20px;
    }
    
    ul {
        list-style-type: disc;
        padding-left: 20px;
    }
    
    ul li {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .team {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .team-member {
        text-align: center;
        margin: 20px;
    }
    
    .team-member img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    
    .team-member h3 {
        margin-top: 15px;
        font-size: 22px;
        color: #333;
    }
    
    .team-member p {
        font-size: 18px;
        color: #777;
    }
    
    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .testimonial {
        max-width: 600px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .testimonial p {
        font-size: 20px;
        font-style: italic;
        color: #555;
    }
    
    .testimonial h4 {
        margin-top: 10px;
        font-size: 18px;
        color: #333;
    }
    
@keyframes menu-toggle{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(10%);
    }
}
/* Responsive Styles */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    
    .navbar .logo img {
        height: 50px; /* Smaller logo size */
    }
    
    .navbar .nav-links {
        display: none;
    }
    
    .navbar .menu-toggle {
        display: block;
    }
    
    .navbar .nav-links.mobile.show {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .navbar .nav-links.mobile.show a {
        font-size: 14px;
        gap: 0;
    }
    
    .product-grid {
        grid-template-columns: 1fr;
        margin-left: 0;
        padding: 5px;
    }
    .carousel-item img{
        object-fit: contain;
    }
    
    .carousel-title {
        font-size: 30px;
        width: 100%;
        margin: 50px auto;
        text-align: center;
    }
    
    .carousel-desc {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
    
    .carousel-in-btn {
        margin-top: 20px;
        margin-left: 0;
        width: 80%;
    }
    
    .features-section {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Tablet Styles (up to 900px width) */
 @media (max-width: 899px) {
    .navbar .nav-links {
        display: none;
    }
    .navbar .menu-toggle {
        display: block;
    }
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        margin-left: 30px;
    }
    .carousel-item img{
        width:500px;
        height:425px;
        margin-top:50px;
        object-fit: scale-down;
        margin-left:430px;
    }
    .carousel-title {
        font-size: 40px;
        margin-left: 100px;
    }
    
    .carousel-desc {
        font-size: 21px;
        width:400px;
        margin-left: 0px;
    }
    
    .carousel-in-btn {
        margin-top: 430px;
        margin-left: 150px;
    }
} 

/* Desktop styles (over 900px) */
/* @media (min-width: 900px) {
    .navbar .nav-links {
        display: flex;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        margin-left: 30px;
    }
    .carousel-item img{
        width:500px;
        height:425px;
        margin-top:50px;
        object-fit: scale-down;
        margin-left:430px;
    }
    .carousel-title {
        font-size: 40px;
        margin-left: 150px;
    }
    
    .carousel-desc {
        font-size: 21px;
        width:400px;
        margin-left: 120px;
    }
    
    .carousel-in-btn {
        margin-top: 430px;
        margin-left: 150px;
    }
} */

temp{
    
    color:rgba(255, 255, 255, 0.973);
    
}